cvxpy
cchardet
pillow
colorama
open-clip-torch
transformers
shapely
sentence-transformers
prior
procthor
objaverse
rtree
scipy
moviepy
numpy
langchain-community
langchain-litellm
langchain
litellm
torch
torchvision
gurobipy
Werkzeug
Flask
compress-pickle
compress-json
black
objathor
editdistance
